body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #d4f1f9;
  color: #333;
}

.meme-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2px;
  height: 85vh;
}

.meme {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.button-container {
  text-align: center;
  margin-top: 10px;
}

button {
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #0a74c9;
}
